<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5><%= product_sample.title %></h5>
  </div>
  <div class="modal-body">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span7" id="imagesDiv">
			    <%= image_tag product_sample.image.url, :class => "img-polaroid imageheight", :alt => product_sample.title%>
    			<% if !@next_sample.nil? %>		          	
          	<%= link_to '&rsaquo;'.html_safe, sample_url(@next_sample.product, @next_sample), {:remote => true, :id => "next", :title => "Next Sample", :class => "right carousel-control"} %>		          
          <% end %>
          <% if !@previous_sample.nil? %>
          	<%= link_to '&lsaquo;'.html_safe, sample_url(@previous_sample.product, @previous_sample), {:remote => true, :id => "prev", :title => "Previous Sample", :class => "left carousel-control"} %>		          
          <% end %>
		    </div>
		    <div class="span5">
		    	<div class="well" style="height: 100%">
		    		<h5>Description</h5>
			    	<p><%=product_sample.description%></p>
			    	<p><strong>Size: </strong><%=product_sample.size%></p>
			    	<p><strong>Price: </strong><%=product_sample.price%></p>
			    	<p align="center">
		          <!-- a href="#" class="btn btn-inverse btn-block" data-toggle="modal">Free Quote</a -->
		          <%= link_to "View Larger Image", sample_url(product_sample.product.slug, product_sample), :class => "btn btn-inverse btn-block"%>
		          <%= link_to "Free Quote", newquote_url, :class => "btn btn-inverse btn-block"%>
		          
		        </p>
			    </div>						    	
		  	</div>
		  </div>
		</div>
</div>
