<%provide(:title, 'How to place order')%>
<% meta :description => "How to place order of Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Low Price Handmade Embroidery"
%>
<h3 style="margin-bottom: 0px">How to Place Order</h3>
<hr style="margin-top: 2px"/>
<p>Ordering is easy, following are the steps to be followed to place order:</p>
<ol>
  <li>
	  <legend>Free Quote</legend>
	  <p>First you need to submit your your design by using <%= link_to "Free Quote", newquote_url, :style => "text-decoration: underline"%>. We will review your quote and will get back to you in one business day with following information:
	  	<ol>
	  		<li>Date when we will present final result for review</li>
	  		<li>Date when we can deliver your patches</li>
	  		<li>Total Price</li>		  		
	  	</ol>		  	
	  </p>
  </li>  
  <li>
	  <legend>Free Design Suggestions</legend>
	  <p>We provide our customers free design facility as well. For this please submit a basic design of your patch and then we can provide you different designs which can fulfill your needs.</p>	  
  </li>
  <li>
	  <legend>Pre Production Validation</legend>
	  <p>If customer want to review pre-production then we can provide that review, mostly we take pictures and get those reviewed by customer. If customer want to review physical items then we can provide shipping facility as well.</p>		  
  </li>
  <li>
	  <legend>Invoice</legend>
	  <p>Once the design is moved to production we will send you invoice, we are using paypal for invoicing all major credit cards are supported.
	  	<br />
	  	<%= image_tag("logo_ccVisa.gif") %>
	  	<%= image_tag("logo_ccMC.gif") %>
	  	<%= image_tag("logo_ccDiscover.gif") %>
	  	<%= image_tag("logo_ccAmex.gif") %>
	  	<%= image_tag("PayPal_mark_37x23.gif") %>
  	</p>  
  </li>
</ol>
	 
