<%provide(:title, 'Productos')%>
<% meta :description => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad",
        :keywords => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad, cita libre, precio bajo hecho a mano del bordado"
%>
<h1>Productos</h1>
<hr/>

<p>
	Distribuciones Guadalquivir ha estado proporcionando servicios de calidad superior a nuestros clientes desde hace más de una década. Vea a continuación las páginas productos para obtener una visión general de la experiencia.  
</p>

<% @sample_products.each do |product| %>
	<a href=<%= samples_path(product)%>><legend><%= product.title %></legend></a>
	<p><%= product.description %></p>
	<p>		  
	  <%= link_to image_tag(product.image.url, :class => "img-polaroid productthumbnail"), samples_path(product) %>		  			
	</p>
<% end %>
<%= will_paginate @sample_products %>

