<div class="row">
	<div class="span12">
    <div id="myCarousel" class="carousel slide">
    	<ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <% index = 1 %>
		    <% @products.each do |product| %>
		    	<li data-target="#myCarousel" data-slide-to=<%=index%>></li>
		    	<% index = index + 1 %>
		    <% end %>
		    
		    
		  </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "Header.jpg", :class => "img-rounded"%>
          <div class="container">
            <div class="carousel-caption">
            	<h2>
              	<%= link_to "Distribucion Es Guadalquivir", productsamples_url %>
              </h2>
              <p class="lead">Home of Embroidered Emblems, Crests, Coat of Arms, Religious Embroidery</p>
              <!-- a class="btn btn-large btn-inverse" href="#">View Our Work</a -->
              <%= link_to "View Samples", productsamples_url, :class => "btn btn-large btn-inverse"%>
              <%= link_to "Free Quote", newquote_url, :class => "btn btn-large btn-inverse"%>
              <!-- a class="btn btn-large btn-inverse" href="#">Free Quote</a -->
            </div>
          </div>
        </div>
        
        <% @products.each do |product| %>
	        <div class="item">
	          <%= image_tag product.image.url %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h2>
	              	<%= link_to product.title, samples_path(product) %>
	              </h2>
	              <p class="lead"><%= product.description %></p>	              
	              <%= link_to "View Samples", samples_path(product), :class => "btn btn-large btn-inverse"%>
              	<%= link_to "Free Quote", newquote_url, :class => "btn btn-large btn-inverse"%>
	            </div>
	          </div>
	        </div>
	        
        <% end %>
        
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
	</div>
</div>
