<hr style="margin-bottom: 2px">
<footer>
  <div class="row">
  	<div class="span12">
  		<small class="pull-right"><a href="#">Back to top</a></small>
  		<small>&copy; Distribucion Es Guadalquivir 2013</small>	
  	</div>
  </div>
  <div class="row">
  	<div class="span2">
		</div>
  	<div class="span8" style="text-align: center">
  		<% lastId = @products.last.id %>
  		<% @products.each do |product| %>  				              
      	<small><%= link_to product.title, samples_path(product) %></small>
      	<% if product.id != lastId %>
      		|
      	<% end %>
    	<% end %>
  		<p style="font-size: 10px; text-align: center">All the samples shown in the website are our previous work for our customers and these are sole property of our customers. These are shown here just give an overview to our prospective customers about our experience.</p>	
  		<p style="font-size: 10px; text-align: center">Pricing for each quote will be calculated at the time of request. Prices shown for samples were calculated at the time when they were manufactured so prices might be different than shown on website.</p>
		</div>
		<div class="span2">
		</div>
	</div>
	<div class="row">
		<div class="span2">
		</div>
  	<div class="span8" style="text-align: center">
			<small><%= link_to "Home", root_url %> | <%= link_to "Samples", productsamples_url %> | <%= link_to "Free Quote", newquote_url %> | <%= link_to "How to Place Order", howwework_url %> | <%= link_to "Pricing", pricing_url %> | <%= link_to "About Us", aboutus_url %> | <%= link_to "Contact Us", contactus_url %> | <%= link_to "FAQs", faqs_url %> | <%= link_to "Privacy Policy", privacypolicy_url %> | <%= link_to "Site Map", sitemap_url %></small>
  	</div>
  	<div class="span2">
		</div>
  </div>
  
  
</footer>
