<hr style="margin-bottom: 2px">
<footer>
  <div class="row">
  	<div class="span12">
  		<small class="pull-right"><a href="#">Back to top</a></small>
  		<small>&copy; Distribuciones Guadalquivir 2013</small>	
  	</div>
  </div>
  <div class="row">
  	<div class="span2">
		</div>
  	<div class="span8" style="text-align: center">
  		<% lastId = @products.last.id %>
  		<% @products.each do |product| %>  				              
      	<small><%= link_to product.title, samples_path(product) %></small>
      	<% if product.id != lastId %>
      		|
      	<% end %>
    	<% end %>  		
		</div>
		<div class="span2">
		</div>
	</div>
	<div class="row">
		<div class="span2">
		</div>
  	<div class="span8" style="text-align: center">
			<small><%= link_to "Home", root_url %> | <%= link_to "Products", productsamples_url %> | <%= link_to "About Us", aboutus_url %> | <%= link_to "Contact Us", contactus_url %> | <%= link_to "Site Map", sitemap_url %></small>
  	</div>
  	<div class="span2">
		</div>
  </div>
  
  
</footer>
